<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocr Tool | Account Verification</title>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
</head>
<body class="h-full">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Verifikasi akun anda</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

        <div th:if="${errorMessage}" th:text="${errorMessage}" class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert"></div>

        <form class="space-y-6" th:action="@{/account/verify}" method="POST">
            <div class="flex mb-2 space-x-2 rtl:space-x-reverse justify-center">
                <div>
                    <label for="code-1" class="sr-only">First code</label>
                    <input type="text" maxlength="1" data-focus-input-init data-focus-input-next="code-2" id="code-1" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500" required />
                </div>
                <div>
                    <label for="code-2" class="sr-only">Second code</label>
                    <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-1" data-focus-input-next="code-3" id="code-2" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500" required />
                </div>
                <div>
                    <label for="code-3" class="sr-only">Third code</label>
                    <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-2" data-focus-input-next="code-4" id="code-3" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500" required />
                </div>
                <div>
                    <label for="code-4" class="sr-only">Fourth code</label>
                    <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-3" data-focus-input-next="code-5" id="code-4" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500" required />
                </div>
                <div>
                    <label for="code-5" class="sr-only">Fifth code</label>
                    <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-4" data-focus-input-next="code-6" id="code-5" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500" required />
                </div>
                <div>
                    <label for="code-6" class="sr-only">Sixth code</label>
                    <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-5" id="code-6" class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500" required />
                </div>
                <input type="hidden" name="verificationCode" id="verificationCode" />
            </div>
            <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Silahkan masukkan 6 digit kode yang telah dikirimkan lewat email.</p>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm/6 font-semibold
                text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                focus-visible:outline-blue-600">Verifikasi</button>
            </div>
        </form>

        <p class="mt-5 text-center text-sm/6 text-gray-500">
            Tidak menerima kode? <a th:href="@{/account/verification/resend}" class="font-bold text-gray-800 hover:text-blue-600">KIRIM ULANG</a>
        </p>

        <p class="mt-10 text-center text-sm/6 text-gray-500">
            <a th:href="@{/auth/logout}" class="font-semibold text-red-600 hover:text-red-500">Keluar</a>
        </p>
    </div>
</div>

<script>
    function focusNextInput(el, prevId, nextId) {
        if (el.value.length === 0) {
            if (prevId) {
                document.getElementById(prevId).focus();
            }
        } else {
            if (nextId) {
                document.getElementById(nextId).focus();
            }
        }
    }

    document.querySelectorAll('[data-focus-input-init]').forEach(function(element) {
        element.addEventListener('keyup', function() {
            const prevId = this.getAttribute('data-focus-input-prev');
            const nextId = this.getAttribute('data-focus-input-next');
            focusNextInput(this, prevId, nextId);
        });

        element.addEventListener('paste', function(event) {
            event.preventDefault();
            const pasteData = (event.clipboardData || window.clipboardData).getData('text');
            const digits = pasteData.replace(/\D/g, '');

            const inputs = document.querySelectorAll('[data-focus-input-init]');

            inputs.forEach((input, index) => {
                if (digits[index]) {
                    input.value = digits[index];
                    const nextId = input.getAttribute('data-focus-input-next');
                    if (nextId) {
                        document.getElementById(nextId).focus();
                    }
                }
            });
        });
    });

    document.querySelector("form").addEventListener("submit", function(event) {
        let code = "";
        document.querySelectorAll("[data-focus-input-init]").forEach(input => {
            code += input.value;
        });
        document.getElementById("verificationCode").value = code;
    });
</script>
</body>
</html>